body, html {
    height: 100%;
    margin:0;
    color: white;
}
div.outer {
    width: 100%;
    margin: 0 auto; 
    overflow: visible;
}
div.inner {
    position:relative;
    float: right;
    right: 50%;
}
div.inner img {
    position: relative; 
    right:-50%;
}
.parallax {
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section{
    text-align: center;
    padding: 5em;
    background: rgba(50,50,50,.8);
}
.spacer{
    height: 100vh;
}
